@keyframes goNext {
  0% {
    transform: translateY(-180%);
  }
  50% {
    transform: translateY(10%);
  }
  75% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes jumping {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-5%);
  }
}
