.container,
.mini-container {
  margin: 0px auto;
  padding: 0px 10px;
  gap: var(--gap);
}

.container {
  max-width: 1460px;
}

.mini-container {
  max-width: 1160px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
