.questions {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__item {
    cursor: pointer;
    padding: 20px;
    transition: var(--transition);
    &:hover,
    &:focus,
    &.active {
      background: var(--clr-gray-light);
      .questions__question {
        color: var(--clr-primary);
      }
    }
    &.active {
      & i {
        transform: rotateX(180deg) translateY(50%);
      }
      & .questions__content {
        grid-template-rows: 1fr;
        padding-top: 20px;
      }
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--clr-gray-dark);
    }
  }
  &__question {
    font-weight: var(--fw-medium);
    position: relative;
    font-size: var(--fs-link);
    transition: var(--transition);
    & i {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      transition: var(--transition);
    }
  }
  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: var(--transition);
  }
  &__texts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
  }
}
